#container{
    margin: 0 auto;
    max-width: 40rem;
}
#intro{
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}
footer {
    visibility: hidden; 
}

.custom-footer {
    color:aliceblue;
    size: 12px;
}